body{
	margin: 0;
	background:url(ta.jpg);
	font-family: sans-serif;
	padding:0;  
	background-repeat: no-repeat;
    background-size: cover;
}
.box{

  width: 300px;
  height: 400px;
  border: 5px solid saddlebrown;
  border-radius: 15px;
  padding: 7px;
  margin: 150px auto;
  box-sizing: border-box;
  font-size: 18px;
  box-shadow: 0 0 10px deeppink ;
  font-family: 'Supermercado One', cursive;
  background-position: center; 
  text-align:center;
	
}

.box input[type="text"],.box input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	border: 2px solid #3498db;
	text-align: center;
	padding: 14px 10px;
	color: black;
	border-radius: 25px;	
}

.box input[type="button"],.box input[type="reset"],.box input[class="login"]{
	font-size: 15;
	 background-color: #0096FF;
      color: #E7E7E7;
      font-family: verdana;
      font-weight: bold;
      border-radius: 10px;
      text-transform: uppercase;
      transition: .2s;
       background-color: green;
}
.box p{
	font-size: 10;
	 position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #244D49;
    text-shadow: 3px 3px 0px #D7DACC, 8px 8px 0px rgba(0, 0, 0, 0.1);

}


