#runningtext{
    width         : 100%;
    height        : 50px;
    padding-top     :15px;
    margin        : 5px 0 5px 0;
    background-color  :black;
    color       : white;
    position      : relative;
    font-family: Arial Narrow;
  }
    *{
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
    }
    
    nav{
      background: black;
      height: 80px;
      width: 100%;
    }
    label.logo{
      color: white;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }
    nav ul li{
      display: inline-block;
      line-height: 100px;
      margin: 0 5px;
    }
    nav ul{
      float: right;
      margin-right: 15px;
    }
    
    nav ul li a{
      color: white;
      font-size: 15px;
      padding: 8px 11px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    a.active,a:hover{
      background: #1b9bff;
      transition: .5s;
    }
    .checkbtn{
      font-size: 15px;
      color: white;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
    }
    #check{
      display: none;
    }
    @media (max-width: 952px){
      label.logo{
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a{
        font-size: 16px;
      }
    }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
    
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 15px;
      }
      nav ul li a{
        font-size: 10px;
      }
      a:hover,a.active{
        background: none;
        color: #00FFFF;
      }
      #check:checked ~ ul{
        left: 0;
      }
    }
  
    .container {
      font-family:  Arial Narrow;
       background-position: center; 
      text-align:right;
      font-size: 25px;
    }
    section{
      background: url("m.jpg");
      background-size: cover;
      height: calc(100vh - 50px);
      padding:50px 0;
      background-repeat: no-repeat;
    
    }
  
    
    
     
    
    